<nav>
  <div class="nav-wrapper purple darken-2">
    <a href="/" class="brand-logo">Movies</a>
    <ul class="right hide-on-med-and-down">
      <li>
        <a href="/movies">Movies</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
    </ul>
  </div>
</nav>
